/* src/assets/theme.css */
body.dark {
  --primary: #6cdbab;
  --on-primary: #003826;
  --primary-container: #005138;
  --on-primary-container: #89f8c6;
  --secondary: #b3ccbd;
  --on-secondary: #1f352a;
  --secondary-container: #354b40;
  --on-secondary-container: #cfe9d9;
  --tertiary: #a5ccdf;
  --on-tertiary: #073543;
  --tertiary-container: #244c5b;
  --on-tertiary-container: #c1e9fb;
  --error: #ffb4ab;
  --on-error: #690005;
  --error-container: #93000a;
  --on-error-container: #ffb4ab;
  --background: #191c1a;
  --on-background: #e1e3df;
  --surface: #111412;
  --on-surface: #e1e3df;
  --surface-variant: #404943;
  --on-surface-variant: #bfc9c2;
  --outline: #8a938c;
  --outline-variant: #404943;
  --shadow: #000000;
  --scrim: #000000;
  --inverse-surface: #e1e3df;
  --inverse-on-surface: #2e312f;
  --inverse-primary: #006c4c;
  --surface-dim: #111412;
  --surface-bright: #373a37;
  --surface-container-lowest: #0c0f0d;
  --surface-container-low: #191c1a;
  --surface-container: #1d201e;
  --surface-container-high: #272b28;
  --surface-container-highest: #323633;
}
